%montserrat {
	font-family: 'Montserrat', sans-serif;
}



$black: #282828;
$blue: #0499DD;
$white: #fff;
$yellow: #FFC700;
$gray: #d4d4d4;


@mixin line-clamp(
	$font-size,
	$line-height,
	$lines-to-show
) {
	display: block; 
	display: -webkit-box;
	font-size: rem($font-size);
	max-height: rem(($font-size * $line-height * $lines-to-show)); 
	line-height: $line-height;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines-to-show;
}
