.gallery {

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__link {
		text-decoration: underline;
	}

	&__container {
		max-width: 1460px;
		margin: 0 auto;
		padding: 0 10px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(16, 1fr);
		grid-template-rows: repeat(6, 1fr);
		gap: 20px 20px;
	}

	&__item {

		img {
			object-fit: cover;
		}

		&:nth-child(1) {
			grid-column: 6 span;
			grid-row: 3 span;
			height: 280px;
			width: 530px;

			img {
				width: 530px;
				height: 280px;
			}
		}

		&:nth-child(2) {
			grid-column: 4 span;
			grid-row: 6 span;
			height: 560px;
			width: 356px;

			img {
				height: 552px;
			}
		}

		&:nth-child(3) {
			grid-column: 3 span;
			grid-row: 2 span;
			height: 264px;

			img {
				height: 264px;
			}
		}

		&:nth-child(4) {
			height: 263px;
			grid-column: 3 span;
			grid-row: 2 span;

			img {
				height: 263px;
			}
		}

		&:nth-child(5) {
			grid-column: 6 span;
			grid-row: 3 span;
			max-width: 492px;

			img {
				max-width: 478px;
			}
		}

		&:nth-child(6) {
			grid-column: 3 span;
			grid-row: 3 span;
			height: 263px;
			width: 250px;
			margin-top: -123px;

			img {
				width: 250px;
				height: 248px;
			}
		}

		&:nth-child(7) {
			grid-column: 3 span;
			grid-row: 2 span;
			height: 123px;
			width: 256px;
			margin-top: -123px;

			img {
				width: 266px;
				height: 114px;
			}
		}

		&:nth-child(8) {
			grid-column: 3 span;
			grid-row: 2 span;
			height: 123px;
			width: 257px;
			margin-top: -273px;

			img {
				width: 257px;
				height: 114px;
			}
		}
	}

	&__photo {
		border-radius: 5px;
	}
}
